{% if result.productos is defined and result.productos is not empty %}
    {% for productos in result.productos %}
        <div class="slider-item js-fullheight" style="background-image:url({{ absolute_url(asset('assets/'~result.folder~'/images/'~productos.fotos))}});">
            <div class="overlay-1"></div><div class="overlay-2"></div><div class="overlay-3"></div><div class="overlay-4"></div>
            <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-center">
                    <div class="col-md-10 col-lg-7 ftco-animate">
                        <div class="text w-100">                            
                            <h1 class="mb-3">{{ productos.nombre}}</h1>
                            <div class="d-flex meta">
                                {% if result.whatsapp is defined and result.whatsapp is not empty %}
                                    <div class=""><p class="mb-0">
                                            <a href="https://api.whatsapp.com/send?phone=+57{{ result.whatsapp }}&text=Hola!!%20Deseo%20una%20consulta%20gratis" target="_blank" class="btn btn-secondary py-3 px-2 px-md-4 buttonNetwork" data-network="{{ result.notificaciones["whatsapp"] }}">Consulta Gratis!!!</a></p>
                                    </div>                                            
                                {% endif %}                                                                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}