{# empty Twig template #}
<div class="container">
    <div class="row">
        <div class="col-md-12 text_align_center">
            <h3>Nuestros Clientes</h3>                        
        </div>
        <div class="col-md-5">
        </div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <div class="full testimonial_blog">
                <p>José Perez - Chile</p>
                <p>Me sentía solo, desesperado sin ganas de salir adelante, por cosas de la vida me contacte con el maestro el me ayudó con este proceso de darle un nuevo rumbo a mi vida y gracias a él gozo de una gran felicidad con mi esposa e hijos, muchas gracias por todo</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            <div class="full testimonial_blog">
                <p>Michael Gomez - Colombia</p>
                <p>Mi pareja me dejo sola con mis hijos y deudas, creí que ya no lo iva a recuperar por culpa de esas malas energías y por la envidia. Gracias al maestro este hombre llegó de nuevo a mi vida arrepentido y más noble pidiendo perdón por todo lo malo que hizo. Gracias por todo.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            <div class="full testimonial_blog">
                <p>Maria Bermudez - Ecuador</p>
                <p>Gracias a la ayuda que me brindó el maestro, estoy muy feliz y contenta con mi esposo de nuevo, no creí en el momento que el me pudiera ayudar pero el maestro me brindó toda la seguridad y confianza para hacerlo. Ante todo mucha Fe. Gracias por todo.</p>
            </div>
        </div>
    </div>
</div>