{# empty Twig template #}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
            <div class="footer_blog_section">
                <img src="{{ absolute_url(asset('assets/'~result.folder~'/imgs/logo.png')) }}" alt="#" />                
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-12">
            <div class="item">
                <h4 class="text-uppercase">Navigation</h4>
                <ul>
                    <li><a href="#home">Inicio</a></li>
                    <li><a href="#about">Nosotros</a></li>
                    <li><a href="#hiw">Servicios</a></li>
                    <li><a href="#clientes">Clientes</a></li>                                        
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
            <div class="item">
                <h4 class="text-uppercase">Contacenos</h4>
                <p><strong>Telefono:</strong></p>
                {% if result.telefono is defined and result.telefono is not empty %}                                                    
                    <p><img src="{{ absolute_url(asset('assets/'~result.folder~'/imgs/phone_icon.png')) }}" alt="#" /> {{ result.telefono }}</p>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
            <div class="item">
                <h4 class="text-uppercase">Redes Sociales</h4>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>                    
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="copyright text-center">
    <p>&copy; copyright {{ "now"|date("Y") }}</p>    
</div>