<div class="gtco-container">
    <div class="row row-pb-md">
        <div class="col-md-4 gtco-widget gtco-footer-paragraph">
            <h3>Amarres de amor</h3>            
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6 gtco-footer-link">
                    <h3>Links</h3>
                    <ul class="gtco-list-link">
                        <li><a href="#inicio">Inicio</a></li>
                        <li><a href="#nosotros">Nosotros</a></li>
                        <li><a href="#servicios">Servicios</a></li>
                        <li><a href="#clientes">Clientes</a></li>                        
                    </ul>
                </div>
                <div class="col-md-6 gtco-footer-link">
                    <h3>Redes Sociales</h3>
                    <ul class="gtco-list-link">
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 gtco-footer-subscribe">            
        </div>
    </div>
</div>
<div class="gtco-copyright">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-6 text-left">
                <p><small>&copy; {{ "now"|date("Y") }}. Derechos Reservados. </small></p>
            </div>            
        </div>
    </div>
</div>