<div class="gtco-container">

    <div class="row">
        <div class="col-sm-2 col-xs-12">
            <div id="gtco-logo"><a href="index.html">Amarres de Amor</div>
        </div>
        <div class="col-xs-10 text-right menu-1">
            <ul>
                <li class="active"><a href="#">Inicio</a></li>                                
                <li><a href="#nosotros">Nosotros</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#clientes">Clientes</a></li>   
                
            </ul>
        </div>
    </div>

</div>