<div class="gtco-container">
    <div class="row">
        <div class="col-md-6 gtco-news">
            <h2>Testimonios</h2>
            <blockquote>
                <p>José Perez - Chile</p>
                <p class="author"><cite>&ldquo;&mdash; Me sentía solo, desesperado sin ganas de salir adelante, por cosas de la vida me contacte con el maestro el me ayudó con este proceso de darle un nuevo rumbo a mi vida y gracias a él gozo de una gran felicidad con mi esposa e hijos, muchas gracias por todo.&ldquo;</cite></p>
            </blockquote>
            <blockquote>
                <p>Luis Preciado - Chile</p>
                <p class="author"><cite>&ldquo;&mdash; Gracias a la ayuda que me brindó el maestro, estoy muy feliz y contenta con mi esposo de nuevo, no creí en el momento que el me pudiera ayudar pero el maestro me brindó toda la seguridad y confianza para hacerlo. Ante todo mucha Fe. Gracias por todo.&ldquo;</cite></p>
            </blockquote>
        </div>
        <!-- END News -->
        <div class="col-md-5 col-md-push-1 gtco-testimonials">
            <h2>Testimonios</h2>
            <blockquote>
                <p>Juan Mosquera - Argentina</p>
                <p class="author"><cite>&ldquo;&mdash; Mi pareja me dejo sola con mis hijos y deudas, creí que ya no lo iva a recuperar por culpa de esas malas energías y por la envidia. Gracias al maestro este hombre llegó de nuevo a mi vida arrepentido y más noble pidiendo perdón por todo lo malo que hizo. Gracias por todo.&ldquo;</cite></p>
            </blockquote>
            <blockquote>
                <p>Lucia Andrade - Perú</p>
                <p class="author"><cite>&ldquo;&mdash; Mi pareja me dejo sola con mis hijos y deudas, creí que ya no lo iva a recuperar por culpa de esas malas energías y por la envidia. Gracias al maestro este hombre llegó de nuevo a mi vida arrepentido y más noble pidiendo perdón por todo lo malo que hizo. Gracias por todo.&ldquo;</cite></p>
            </blockquote>
        </div>
    </div>
</div>