{# empty Twig template #}
<header>
    <h2><strong>Nuestros Productos</strong>.</h2>
    <p>
        A (free) responsive site template by <a href="http://html5up.net">HTML5 UP</a>.
        Built with HTML5/CSS3 and released under the <a href="http://html5up.net/license">CCA</a> license.
    </p>
</header>
