{# empty Twig template #}
<header>
    <h2><strong>Nuestros Productos</strong>.</h2>
    <p>
        {% if parameters[0]['banner_message'] is defined %}
            <p>{{ parameters[0]['banner_message'] }}</p>
        {% endif %}        
    </p>
</header>
