<!-- Carousel -->
{% if result.aliados is defined and result.aliados is not empty %}
    <div class="reel">    
        {% for producto in result.productos %}        
            <article>
                <a class="image featured">
                    <img class="img-product image-modal" src="{{ absolute_url(asset('assets/'~result.folder~'/images/'~producto.fotos)) }}" alt="" />
                </a>
                <header>                    
                    <h3><a href="#"><strong><em>{{ producto.nombre }}</em></strong></a></h3>
                    {% if producto.precio is defined and producto.precio > 0 %}
                        <h3><p>$ {{ producto.precio|number_format(0, '.', '.') }}</p></h3>                
                    {% endif %}                    
                    <p>{{ producto.descripcion|capitalize }}.</p>
                </header>                                    
            </article>
        {% endfor %}    
    </div>
{% endif %}

