<header>
    <h3>Contáctenos</h3>
</header>
<p>
    Dirección: {{ result.direccion }}<br>
    Teléfono: {{ result.telefono }}<br>
    Celular: {{ result.whatsapp }}
</p>
<ul class="icons">
    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>
    <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
    <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
</ul>