<!-- Features -->
{% if result.aliados is defined and result.aliados is not empty %}
    <header>
        <h2>Nuestros Clientes</h2>
        <p>Ipsum volutpat consectetur orci metus consequat imperdiet duis integer semper magna.</p>
    </header>
    <div class="row">
        {% for aliado in result.aliados %}
            <article class="col-4 col-12-mobile special">
                <a href="#" class="image featured">
                    <img class="img-product" src="{{ absolute_url(asset('assets/images/'~aliado.fotos)) }}" alt="" />
                </a>
                <header>
                    <h3><a href="#">{{ aliado.nombre }}</a></h3>
                </header>
                <p>
                    Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
                    porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
                </p>
            </article>
        {% endfor %}    
    </div>
{% endif %}    
