<div class="container">
    <div class="row">
        <!-- Tweets -->
        <section class="col-4 col-12-mobile">
            {% include './tamatoly/general/tweets.html.twig' %} 
        </section>
        <!-- Posts -->
        <section class="col-4 col-12-mobile">
            {% include './tamatoly/general/posts.html.twig' %} 
        </section>
        <!-- Photos -->
        <section class="col-4 col-12-mobile">
            {% include './tamatoly/general/photos.html.twig' %} 
        </section>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <!-- Contact -->
            <section id="contact" class="contact">
                {% include './tamatoly/general/contact.html.twig' %} 
            </section>
            <!-- Copyright -->                            
            <div class="copyright">
                {% include './tamatoly/general/copyright.html.twig' %}                                
            </div>
        </div>
    </div>
</div>